.wrapper {
    margin: auto;
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #4C4CFF;
}

.column {
    flex-direction: column;

}

.profileLink {
    text-decoration: none;
}

.active {
    color: #F2F2F3;
}

.menu {
    width: 320px;
}

.menuItem {
    height: 64px;
}