.wrapper {
    margin: auto;
    display: flex;
}

.column {
    flex-direction: column;
}

.profileLink {
    text-decoration: none;
    display: flex;
    height: 64px;
}

.menu {
    width: 320px;
}

.submit {
    display: flex;
    justify-content: flex-end;
}