.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;

    background-color: #1C1C21;
    border-radius: 40px;
    z-index: 10;

    min-height: 500px;

    display: flex;
}

.modalContent {
    width: 70%;
    height: 70%;
    background-color: #282c34;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.close {
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 60px;
}